<TMPL_INCLUDE NAME="header.tmpl">

<div id="list-commenters">

<h2><MT_TRANS phrase="Registered Commenters"></h2>

<div class="list">
<table cellspacing="0">

<tr>
<th><MT_TRANS phrase="Status"></th>
<th><MT_TRANS phrase="Commenter"></th>
<th><MT_TRANS phrase="Identity"></th>
<th><MT_TRANS phrase="Actions"></th>
<th>&nbsp;</th>
</tr>

<TMPL_LOOP NAME=OBJECT_LOOP>
<tr class="<TMPL_IF NAME=IS_ODD>odd<TMPL_ELSE>even</TMPL_IF>">

<td class="status">
<TMPL_IF NAME=COMMENTER_APPROVED>
<img alt="<MT_TRANS phrase="Approved">" src="<TMPL_VAR NAME=STATIC_URI>images/author-approved.gif" width="8" height="8" /><br /><span class="approved"><MT_TRANS phrase="Approved"></span>
<TMPL_ELSE>
<TMPL_IF NAME=COMMENTER_BLOCKED>
<img alt="<MT_TRANS phrase="Banned">" src="<TMPL_VAR NAME=STATIC_URI>images/author-blocked.gif" width="8" height="8" /><br /><span class="banned"><MT_TRANS phrase="Banned"></span>
<TMPL_ELSE>
<img alt="<MT_TRANS phrase="Pending">" src="<TMPL_VAR NAME=STATIC_URI>images/author-pending.gif" width="8" height="8" /><br /><span class="pending"><MT_TRANS phrase="Pending"></span>
</TMPL_IF>
</TMPL_IF>
</td>

<td><a href="<TMPL_VAR NAME=SCRIPT_URL>?__mode=list_comments&amp;blog_id=<TMPL_VAR NAME=BLOG_ID>&amp;filter=commenter_id&amp;filter_val=<TMPL_VAR NAME=AUTHOR_ID>" title="<MT_TRANS phrase="View all comments from this registered commenter">"><img src="<TMPL_VAR NAME=STATIC_URI>images/filter.gif" alt="<MT_TRANS phrase="View all comments from this registered commenter">" width="8" height="8" /></a> <TMPL_VAR NAME=AUTHOR_DISPLAY ESCAPE=HTML></td>

<td><a href="<TMPL_VAR NAME=PROFILE_PAGE>" title="<MT_TRANS phrase="View Profile">" target="_blank"><TMPL_VAR NAME=AUTHOR ESCAPE=HTML></a></td>

<TMPL_IF NAME=COMMENTER_APPROVED>
<td><div class="comment-status-button"><a href="<TMPL_VAR NAME=SCRIPT_URL>?__mode=save_commenter_perm&amp;blog_id=<TMPL_VAR NAME=BLOG_ID>&amp;commenter_id=<TMPL_VAR NAME=AUTHOR_ID>&amp;action=block&amp;magic_token=<TMPL_VAR NAME=MAGIC_TOKEN>&amp;_return=list_commenters" title="<MT_TRANS phrase="Ban comments from this user">"><MT_TRANS phrase="Ban User"></a></div></td>
<TMPL_ELSE>
<TMPL_IF NAME=COMMENTER_BLOCKED>
<td><div class="comment-status-button"><a href="<TMPL_VAR NAME=SCRIPT_URL>?__mode=save_commenter_perm&amp;blog_id=<TMPL_VAR NAME=BLOG_ID>&amp;commenter_id=<TMPL_VAR NAME=AUTHOR_ID>&amp;action=approve&amp;magic_token=<TMPL_VAR NAME=MAGIC_TOKEN>&amp;_return=list_commenters" title="<MT_TRANS phrase="Approve comments from this user">"><MT_TRANS phrase="Approve User"></a></div></td>
<TMPL_ELSE>
<td>
<div class="comment-status-button"><a href="<TMPL_VAR NAME=SCRIPT_URL>?__mode=save_commenter_perm&amp;blog_id=<TMPL_VAR NAME=BLOG_ID>&amp;commenter_id=<TMPL_VAR NAME=AUTHOR_ID>&amp;action=approve&amp;magic_token=<TMPL_VAR NAME=MAGIC_TOKEN>&amp;_return=list_commenters" title="<MT_TRANS phrase="Approve comments from this user">"><MT_TRANS phrase="Approve User"></a></div>
<div class="comment-status-button"><a href="<TMPL_VAR NAME=SCRIPT_URL>?__mode=save_commenter_perm&amp;blog_id=<TMPL_VAR NAME=BLOG_ID>&amp;commenter_id=<TMPL_VAR NAME=AUTHOR_ID>&amp;action=block&amp;magic_token=<TMPL_VAR NAME=MAGIC_TOKEN>&amp;_return=list_commenters" title="<MT_TRANS phrase="Ban comments from this user">"><MT_TRANS phrase="Ban User"></a></div>
</td>
</TMPL_IF>
</TMPL_IF>
<td><input type="checkbox" name="id" value="<TMPL_VAR NAME=AUTHOR_ID>" /></td>
</tr>
</TMPL_LOOP>

</table>
</div>

<hr />

<div align="right">
<form action="<TMPL_VAR NAME=SCRIPT_URL>" onsubmit="return false;">
<TMPL_IF NAME=PREV_OFFSET>
<input type="button" onclick="window.location='<TMPL_VAR NAME=SCRIPT_URL>?__mode=list_commenters&amp;blog_id=<TMPL_VAR NAME=BLOG_ID>&amp;limit=' + this.form.limit.options[this.form.limit.selectedIndex].value + '&amp;offset=<TMPL_VAR NAME=PREV_OFFSET_VAL><TMPL_VAR NAME=FILTER_ARGS>'" value="<MT_TRANS phrase="Previous [_1]" params="<TMPL_VAR NAME=LIMIT>">" />
</TMPL_IF>
<select name="limit" onchange="window.location='<TMPL_VAR NAME=SCRIPT_URL>?__mode=list_commenters&amp;blog_id=<TMPL_VAR NAME=BLOG_ID>&amp;limit=' + this.options[this.selectedIndex].value + '<TMPL_VAR NAME=FILTER_ARGS>'">
<option value="5"<TMPL_IF NAME=LIMIT_5> selected</TMPL_IF>><MT_TRANS phrase="[quant,_1,commenter,commenters]" params="5"></option>
<option value="20"<TMPL_IF NAME=LIMIT_20> selected</TMPL_IF>><MT_TRANS phrase="[quant,_1,commenter,commenters]" params="20"></option>
<option value="75"<TMPL_IF NAME=LIMIT_75> selected</TMPL_IF>><MT_TRANS phrase="[quant,_1,commenter,commenters]" params="75"></option>
<option value="125"<TMPL_IF NAME=LIMIT_125> selected</TMPL_IF>><MT_TRANS phrase="[quant,_1,commenter,commenters]" params="125"></option>
</select>
<TMPL_IF NAME=NEXT_OFFSET>
<input type="button" onclick="window.location='<TMPL_VAR NAME=SCRIPT_URL>?__mode=list_commenters&amp;blog_id=<TMPL_VAR NAME=BLOG_ID>&amp;limit=' + this.form.limit.options[this.form.limit.selectedIndex].value + '&amp;offset=<TMPL_VAR NAME=NEXT_OFFSET_VAL><TMPL_VAR NAME=FILTER_ARGS>'" value="<MT_TRANS phrase="Next [_1]" params="<TMPL_VAR NAME=LIMIT>">" />
</TMPL_IF>
</form>
</div>

<TMPL_IF NAME=PLUGIN_ACTION_LOOP>
Plugin actions: <br />
<TMPL_LOOP NAME=PLUGIN_ACTION_LOOP>
<a href="<TMPL_VAR NAME=PAGE>;from=list_commenters;blog_id=<TMPL_VAR NAME=BLOG_ID>"><TMPL_VAR NAME=LINK_TEXT></a> <br />
</TMPL_LOOP>
</TMPL_IF>

</div>

<TMPL_INCLUDE NAME="footer.tmpl">
