<TMPL_INCLUDE NAME="header.tmpl">
<style type="text/css">
.sub-field {
	display: none;
	margin: 0px 0px 0px 8px;
	border-width: 0px 0px 0px 1px;
	border-color: #CFD9E2;
	border-style: solid;
	padding: 0px 0px 0px 12px;
	}
</style>
<div id="cfg-prefs">
<script type="text/javascript">
<!--
function getByID (n) {
    var d = window.document;
    if (d.getElementById)
        return d.getElementById(n);
    else if (d.all)
        return d.all[n];
}
function toggleProtectPrefs (c, div) {
var b = new Array('password_prefs','typekey_prefs','openid_prefs');
for (var i = 0; i < b.length; i++) {
	var c = getByID(b[i]);
	c.style.display = 'none';
}
    var e = getByID(div);
    e.style.display = 'block';
}

function writeinput(div) {
var theNewParagraph = document.createElement('p');
var input = document.createElement('input');
input.type = 'text';
input.name = div;
if(div == 'typekey_users') {
input.style['background'] = '#fff url(<TMPL_VAR NAME=STATIC_URI>images/typekey.gif) 2px 1px no-repeat'
input.style['paddingLeft'] = '30px';
}
if(div == 'openid_users') {
input.style['background'] = '#fff url(<TMPL_VAR NAME=STATIC_URI>images/openid.gif) 2px 1px no-repeat'
input.style['paddingLeft'] = '22px';
}
theNewParagraph.appendChild(input);
document.getElementById(div).appendChild(theNewParagraph);

	}

//-->
</script>	

<h2><TMPL_IF NAME=IS_SINGLE>Protect Blog: <span class="title-highlight"><TMPL_VAR NAME=BLOG_NAME ESCAPE=HTML></span><TMPL_ELSE>Protect Multiple Blogs</TMPL_IF></h2>

<TMPL_IF NAME=MESSAGE>
<p class="message"><TMPL_VAR NAME=MESSAGE></p>
</TMPL_IF>

<p class="page-desc"><MT_TRANS phrase="You can protect this blog so only certain people can view its contents. You can do this one of two ways. The first is using a simple password that people will have to enter to see the post. The alternative is to use Typekey so access is based on their identity. Using Typekey is the recommended method as it ensures that only those allowed can access the post, passwords can always be leaked!"></p>
<TMPL_UNLESS NAME=IS_SINGLE><p class="page-desc"><b><MT_TRANS phrase="Caution: You are protecting multiple blogs using this page hence they will all get the same protection"></b></p></TMPL_UNLESS> 

<form method="post" action="<TMPL_VAR NAME=SCRIPT_URL>">
  <input type="hidden" name="__mode" value="save" />
  <input type="hidden" name="_type" value="blog" />
  <input type="hidden" name="<TMPL_IF NAME=IS_SINGLE>blog_id<TMPL_ELSE>blog_ids</TMPL_IF>" value="<TMPL_IF NAME=IS_SINGLE><TMPL_VAR NAME=BLOG_ID><TMPL_ELSE><TMPL_VAR NAME=BLOG_IDS></TMPL_IF>" />
  <input type="hidden" name="magic_token" value="<TMPL_VAR NAME=MAGIC_TOKEN>" />
  
<h4><input type="radio" name="protection" value="None" onclick="getByID('password_prefs').style.display = 'none';getByID('typekey_prefs').style.display = 'none';"> <MT_TRANS phrase="No Protection"></h4>

<h4><input <TMPL_IF NAME=IS_PASSWORD>checked="checked"</TMPL_IF> type="radio" name="protection" onclick="toggleProtectPrefs(this,'password_prefs'); return true" value="Password"> <MT_TRANS phrase="Password Protection"></h4>
		
<div id="password_prefs" class="sub-field" style="display: <TMPL_IF NAME=IS_PASSWORD>block<TMPL_ELSE>none</TMPL_IF>;">
<p><label><MT_TRANS phrase="Entry Password"></label></p>
<input name="password" id="password" value="<TMPL_VAR NAME=PASSWORD>" /></p>
</div>

<h4><input <TMPL_IF NAME=IS_TYPEKEY>checked="checked"</TMPL_IF> type="radio" name="protection" onclick="toggleProtectPrefs(this,'typekey_prefs'); return true" value="Typekey"> <MT_TRANS phrase="Typekey Protection"></h4>
		
<div id="typekey_prefs" class="sub-field" style="display: <TMPL_IF NAME=IS_TYPEKEY>block<TMPL_ELSE>none</TMPL_IF>;">
<p><label><MT_TRANS phrase="Allow the following Typekey users, enter their Typekey usernames (case sensitive)"></label></p>
<div id="typekey_users"><TMPL_LOOP NAME=TYPEKEY_USER_LOOP>
<p><input style="padding-left: 30px;background:#fff url(<TMPL_VAR NAME=STATIC_URI>images/typekey.gif) 2px 1px no-repeat;" name="typekey_users" id="typekey_users" value="<TMPL_VAR NAME=USER>" /></p>
</TMPL_LOOP></div>
<p><img src="<TMPL_VAR NAME=STATIC_URI>images/status_icons/create.gif" alt="<MT_TRANS phrase="More">" width="9" height="9" />
<a href="javascript:void(0);" onclick="writeinput('typekey_users');"><MT_TRANS phrase="More"></a></p>

</div>

<h4><input <TMPL_IF NAME=IS_OPENID>checked="checked"</TMPL_IF> type="radio" name="protection" onclick="toggleProtectPrefs(this,'openid_prefs'); return true" value="OpenID"> <MT_TRANS phrase="OpenID Protection"></h4>
		
<div id="openid_prefs" class="sub-field" style="display: <TMPL_IF NAME=IS_OPENID>block<TMPL_ELSE>none</TMPL_IF>;">
<p><label><MT_TRANS phrase="Allow the following OpenID addresses"></label></p>
<div id="openid_users"><TMPL_LOOP NAME=OPENID_USER_LOOP>
<p><input style="padding-left: 22px;background:#fff url(<TMPL_VAR NAME=STATIC_URI>images/openid.gif) 2px 1px no-repeat;" name="openid_users" id="openid_users" value="<TMPL_VAR NAME=USER>" /></p>
</TMPL_LOOP></div>
<p><img src="<TMPL_VAR NAME=STATIC_URI>images/status_icons/create.gif" alt="<MT_TRANS phrase="More">" width="9" height="9" />
<a href="javascript:void(0);" onclick="writeinput('openid_users');"><MT_TRANS phrase="More"></a></p>

</div>

<p><input type="submit" name="submit" value="<MT_TRANS phrase="Save">" />&nbsp;<input type="button" onclick="window.location='<TMPL_VAR NAME=MTSCRIPT_URL>?__mode=view&_type=entry&id=<TMPL_VAR NAME=ENTRY_ID>&blog_id=<TMPL_VAR NAME=BLOG_ID>'" value="<MT_TRANS phrase="Go Back">" />     </p>

</form>

</div>

<TMPL_INCLUDE NAME="footer.tmpl">