<p><MT_TRANS phrase="The following will be displayed when an asset is protected"></p>

<div class="setting">
<textarea name="protect_text" id="protect_text" rows="10" cols="60"><TMPL_VAR NAME=PROTECT_TEXT ESCAPE=HTML></textarea>
</div>