<TMPL_INCLUDE NAME="header.tmpl">

<h2><TMPL_VAR NAME=BLOG_NAME>: Protection Options</h2>

<TMPL_IF NAME=MESSAGE>
<p class="message"><TMPL_VAR NAME=MESSAGE></p>
</TMPL_IF>

<p>Enter your TypeKey site token. To sign up for a TypeKey token, visit the <a href="http://www.typekey.com">TypeKey</a> website.

<form method="post" action="<TMPL_VAR NAME=SCRIPT_URL>">
  <input type="hidden" name="__mode" value="save" />
  <input type="hidden" name="_type" value="blog" />
  <input type="hidden" name="blog_id" value="<TMPL_VAR NAME=BLOG_ID>" />
  
<h4><label for="remote_auth_token">TypeKey Token:</label> <input type="text" id="remote_auth_token" name="remote_auth_token" value="<TMPL_VAR NAME=TYPEKEY_TOKEN>" /></h4>

<p><input type="submit" name="submit" value="Save" />&nbsp;<input type="button" onclick="window.location='<TMPL_VAR NAME=MTSCRIPT_URL>?__mode=menu&blog_id=<TMPL_VAR NAME=BLOG_ID>'" value="Go Back" />     </p>

<TMPL_INCLUDE NAME="footer.tmpl">