<TMPL_INCLUDE NAME="header.tmpl">
<link rel="stylesheet" href="<TMPL_VAR NAME=STATIC_URI>plugins/Protect/styles.css" type="text/css" />
<script type="text/javascript">
<!--
var tkusers, ljusers, oiusers;

function toggleProtectPrefs (c, div) {
    var e = getByID(div);
	if(e.style.display == 'none')
    	e.style.display = 'block';
	else	
		e.style.display = 'none';
}

function submitForm(f, mode) {
    if (f.elements["__mode"] && mode)
        f.elements["__mode"].value = mode;
	tkusers.onAddSubmit('click');
	ljusers.onAddSubmit('click');
	oiusers.onAddSubmit('click');
	f.elements["typekey_users"].value = tkusers.taglist.tags;
	f.elements["livejournal_users"].value = ljusers.taglist.tags;
	f.elements["openid_users"].value = oiusers.taglist.tags; 
    f.submit();
}

//-->
</script>		
<script type="text/javascript" src="<TMPL_VAR NAME=STATIC_URI>plugins/Protect/js/yahoo.js"></script>
<script type="text/javascript" src="<TMPL_VAR NAME=STATIC_URI>plugins/Protect/js/dom.js"></script>
<script type="text/javascript" src="<TMPL_VAR NAME=STATIC_URI>plugins/Protect/js/event.js"></script>
<script type="text/javascript" src="<TMPL_VAR NAME=STATIC_URI>plugins/Protect/js/tag-widget.js"></script>


<h2><span class="weblog-title-highlight"><TMPL_IF NAME=BLOG_ID><TMPL_VAR NAME=BLOG_NAME ESCAPE=HTML><TMPL_ELSE><MT_TRANS phrase="System-wide"></TMPL_IF>:</span> <MT_TRANS phrase="Privacy Groups">: <TMPL_IF NAME=ID><TMPL_VAR NAME=LABEL><TMPL_ELSE><MT_TRANS phrase="New Protection Group"></TMPL_IF></h2>

<p><MT_TRANS phrase="Use this page to edit the attributes of the privacy group"> <TMPL_VAR NAME=LABEL>.</p>

<TMPL_IF NAME=SAVED>
<div class="message"><MT_TRANS phrase="Your privacy group changes have been saved">.</div>
</TMPL_IF>

<fieldset>
<form method="post" action="<TMPL_VAR NAME=SCRIPT_URL>">
<input type="hidden" name="__mode" value="save" />
<input type="hidden" name="_type" value="groups" />
<input type="hidden" name="id" value="<TMPL_VAR NAME=ID>" />
<input type="hidden" name="return_args" value="<TMPL_VAR NAME=RETURN_ARGS ESCAPE=HTML>" />
<input type="hidden" name="magic_token" value="<TMPL_VAR NAME=MAGIC_TOKEN>" />
<input type="hidden" name="protect_beacon" value="1" id="protect_beacon" />
<input type="hidden" name="typekey_users" value="" id="typekey_users" />
<input type="hidden" name="livejournal_users" value="" id="livejournal_users" />
<input type="hidden" name="openid_users" value="" id="openid_users" />

<div class="setting">
    <div class="label">
        <label for="label"><MT_TRANS phrase="Name">:</label>
    </div>
    <div class="field">
        <input name="label" id="label" value="<TMPL_VAR NAME=LABEL ESCAPE=HTML>" type="text" />
    </div>
</div>

<div class="setting">
    <div class="label">
        <label for="desc"><MT_TRANS phrase="Description">:</label>
    </div>
    <div class="field">
        <textarea name="description" id="description" rows="5" cols="60"><TMPL_VAR NAME=DESCRIPTION ESCAPE=HTML></textarea>
    </div>
</div>

<div id="typekey_prefs" class="setting">
    <div class="label">
        <label for="typekey"><MT_TRANS phrase="Enter Typekey Users">:</label>
    </div>
    <div class="field">
		<div id="typekey" class="tc-tags tag-widget"></div>
		<script type="text/javascript"> 
			tkusers = new TagWidget('typekey'); 
			tkusers.LIST_LABEL = ' '; 
			tkusers.FORM_LABEL = ' '; 
			tkusers.ADD_LABEL = '<MT_TRANS phrase="Add">';
			tkusers.ALWAYS_SHOW_FORM = 1;
			tkusers.TAG_DELIMITTER = '<TMPL_VAR NAME=AUTH_PREF_TAG_DELIM>';
			tkusers.taglist.TAG_LINK_FORMAT = 'http://profile.typekey.com/';
			<TMPL_LOOP NAME=TYPEKEY_USERS>
			tkusers.addTag('<TMPL_VAR NAME=TK_USER>');
			</TMPL_LOOP>
			tkusers.render(); 
		</script>
		<p><MT_TRANS phrase="Enter Typekey users here separated by"> <TMPL_IF NAME=AUTH_PREF_TAG_DELIM_COMMA><MT_TRANS phrase="commas"><TMPL_ELSE><MT_TRANS phrase="spaces"></TMPL_IF></p>
    </div>
</div>		
		
<div id="livejournal_prefs" class="setting">
    <div class="label">
        <label for="livejournal"><MT_TRANS phrase="Enter LiveJournal Users">:</label>
    </div>
    <div class="field">
		<div id="livejournal" class="tc-tags tag-widget"></div>
		<script type="text/javascript"> 
			ljusers = new TagWidget('livejournal'); 
			ljusers.LIST_LABEL = ' '; 
			ljusers.FORM_LABEL = ' '; 
			ljusers.ADD_LABEL = '<MT_TRANS phrase="Add">';
			ljusers.ALWAYS_SHOW_FORM = 1;
			ljusers.TAG_DELIMITTER = '<TMPL_VAR NAME=AUTH_PREF_TAG_DELIM>';
			ljusers.taglist.TAG_LINK_FORMAT = 'http://www.livejournal.com/users/';
			<TMPL_LOOP NAME=LIVEJOURNAL_USERS>
			ljusers.addTag('<TMPL_VAR NAME=LJ_USER>');
			</TMPL_LOOP>
			ljusers.render(); 
		</script>
		<p><MT_TRANS phrase="Enter LiveJournal users here separated by"> <TMPL_IF NAME=AUTH_PREF_TAG_DELIM_COMMA><MT_TRANS phrase="commas"><TMPL_ELSE><MT_TRANS phrase="spaces"></TMPL_IF></p>
    </div>
</div>		
		
<div id="openid_prefs" class="setting">
    <div class="label">
        <label for="openid"><MT_TRANS phrase="Enter OpenID Users">:</label>
    </div>
    <div class="field">
		<div id="openid" class="tc-tags tag-widget"></div>
		<script type="text/javascript"> 
			oiusers = new TagWidget('openid'); 
			oiusers.LIST_LABEL = ' '; 
			oiusers.FORM_LABEL = ' '; 
			oiusers.ADD_LABEL = '<MT_TRANS phrase="Add">';
			oiusers.ALWAYS_SHOW_FORM = 1;
			oiusers.TAG_DELIMITTER = '<TMPL_VAR NAME=AUTH_PREF_TAG_DELIM>';
			<TMPL_LOOP NAME=OPENID_USERS>
			oiusers.addTag('<TMPL_VAR NAME=OI_USER>');
			</TMPL_LOOP>			
			oiusers.render(); 
		</script>
		<p><MT_TRANS phrase="Enter OpenID urls here separated by"> <TMPL_IF NAME=AUTH_PREF_TAG_DELIM_COMMA><MT_TRANS phrase="commas"><TMPL_ELSE><MT_TRANS phrase="spaces"></TMPL_IF></p>
    </div>
</div>

<input type="submit" value="<MT_TRANS phrase="Save">" onclick="submitForm(this.form);"/>
<input accesskey="x" onclick="doRemoveItems(this.form, '<MT_TRANS phrase="group">', '<MT_TRANS phrase="groups">', false, { 'return_args': '__mode=groups' }); return true" type="button" value="<MT_TRANS phrase="Delete">" title="<MT_TRANS phrase="Delete this group (x)">" />

</form>
</fieldset>
<TMPL_INCLUDE NAME="footer.tmpl">
