</div>

<br style="clear: both;" />

</div>

<div id="copyright">
<b><MT_TRANS phrase="Version"> <TMPL_VAR NAME=PLUGIN_VERSION></b> <MT_TRANS phrase="Copyright &copy; 2005 <a href="http://www.movalog.com/">Arvind Satyanarayan</a>. All Rights Reserved.">
</div>

</body>
</html>
