</div>

<br style="clear: both;" />

</div>

<div id="copyright">
<b>Version <TMPL_VAR NAME=PLUGIN_VERSION></b> Copyright &copy; 2004 <a href="http://www.movalog.com/">Arvind Satyanarayan</a>. All Rights Reserved.
</div>

</body>
</html>
