<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=<TMPL_VAR NAME=LANGUAGE_ENCODING>" />
<title><TMPL_LOOP NAME=PAGE_TITLES><TMPL_VAR NAME=BC_NAME ESCAPE=HTML> | </TMPL_LOOP><MT_TRANS phrase="Movable Type Publishing Platform"></title>
<link rel="stylesheet" href="<TMPL_VAR NAME=STATIC_URI>styles.css" type="text/css" />
<script type="text/javascript" src="<TMPL_VAR NAME=STATIC_URI>mt.js"></script>
<script type="text/javascript">
ScriptURI = '<TMPL_VAR NAME=SCRIPT_URL>';
ScriptBaseURI = '<TMPL_VAR NAME=SCRIPT_BASE_URL>';
StaticURI = '<TMPL_VAR NAME=STATIC_URI>';
</script>
</head>

<body>

<div id="topnav">
<div id="topnav-container">
<div id="topnav-img"><h1><a href="<TMPL_VAR NAME=MT_URL>"><img alt="Movable Type" src="<TMPL_VAR NAME=STATIC_URI>images/topnav-logo.gif" width="224" height="66" border="0" /></a></h1></div>

<TMPL_IF NAME=AUTHOR_NAME>
<div id="topnav-links">
<div id="topnav-links-left">
<a href="<TMPL_VAR NAME=MT_URL>"><MT_TRANS phrase="Main Menu"></a>&nbsp;&nbsp;|&nbsp;
<a target="_blank" href="<TMPL_VAR NAME=STATIC_URI>docs/mtmanual.html"><MT_TRANS phrase="Help"></a>&nbsp;&nbsp;|&nbsp;
<a href="<TMPL_VAR NAME=MT_URL>?__mode=logout"><MT_TRANS phrase="Logout"></a>&nbsp;
<TMPL_IF NAME=BLOG_NAME>|&nbsp;&nbsp;<a target="_blank" href="<TMPL_VAR NAME=BLOG_URL>"><MT_TRANS phrase="View&nbsp;Site"></a></TMPL_IF>
</div>
<div id="topnav-links-right">
<MT_TRANS phrase="User:"> <a href="<TMPL_VAR NAME=MT_URL>?__mode=view&amp;_type=author&amp;id=<TMPL_VAR NAME=AUTHOR_ID>"><TMPL_VAR NAME=AUTHOR_NAME></a>
</div>
<br style="clear: both;" />
</div>

<div style="display: none;">
<TMPL_IF NAME=BLOG_NAME>
<form method="get" action="<TMPL_VAR NAME=MT_URL>">
<input type="hidden" name="__mode" value="search_replace" />
<input type="hidden" name="blog_id" value="<TMPL_VAR NAME=BLOG_ID>" />
<input type="hidden" name="search_cols" value="title,text,text_more" />
<input type="hidden" name="magic_token" value="<TMPL_VAR NAME=MAGIC_TOKEN>" />
<input name="search" size="15" />&nbsp;
<input type="submit" name="search" value="<MT_TRANS phrase="Search">" />
</form>
</TMPL_IF>
</div>

<div id="topnav-blogs">
<TMPL_IF NAME=TOP_BLOG_LOOP>
<form method="get" action="<TMPL_VAR NAME=MT_URL>" class="inline">
<input type="hidden" name="__mode" value="menu" />
<select name="blog_id">
<TMPL_LOOP NAME=TOP_BLOG_LOOP>
<option value="<TMPL_VAR NAME=TOP_BLOG_ID>"<TMPL_IF NAME=TOP_BLOG_SELECTED> selected="selected"</TMPL_IF>><TMPL_VAR NAME=TOP_BLOG_NAME ESCAPE=HTML></option>
</TMPL_LOOP>
</select>
<input type="submit" value="<MT_TRANS phrase="Go">" />
</form>
</TMPL_IF>
</div>
</TMPL_IF>

</div>
</div>

<div class="body-wrap">


<div id="nav">
<ul class="top">
<li>
<ul class="sub"><li><a<TMPL_IF NAME=GLOBAL_CONFIG> class="here"</TMPL_IF> id="nav-config" title="<MT_TRANS phrase="Global Config">" href="<TMPL_VAR NAME=SCRIPT_URL>?__mode=global_config"><MT_TRANS phrase="Global Config"></a></li><li><a<TMPL_IF NAME=TYPEKEY_GROUPS> class="here"</TMPL_IF> id="nav-commenters" title="<MT_TRANS phrase="Typekey Groups">" href="<TMPL_VAR NAME=SCRIPT_URL>?__mode=tk_groups"><MT_TRANS phrase="Typekey Groups"></a></li></ul></li>
</ul>
</div>

<div class="body-nav">


<TMPL_UNLESS NAME=NO_BREADCRUMBS>
<h2 id="breadcrumbs"><TMPL_LOOP NAME=BREADCRUMBS><TMPL_UNLESS NAME=IS_LAST><a href="<TMPL_VAR NAME=BC_URI ESCAPE=HTML>"><TMPL_VAR NAME=BC_NAME ESCAPE=HTML></a>&nbsp;&gt;&nbsp;<TMPL_ELSE><TMPL_VAR NAME=BC_NAME ESCAPE=HTML></TMPL_UNLESS></TMPL_LOOP></h2>
</TMPL_UNLESS>

