<link rel="stylesheet" href="<TMPL_VAR NAME=STATIC_URI>plugins/Protect/styles.css" type="text/css" />
<script type="text/javascript">
<!--
var tkusers, ljusers, oiusers;
<TMPL_IF NAME=PROTECTION_GROUPS>var groupsJSON = <TMPL_VAR NAME=PROTECTION_GROUPS></TMPL_IF>;

function toggleProtectPrefs (c, div) {
    var e = getByID(div);
	if(e.style.display == 'none')
    	e.style.display = 'block';
	else	
		e.style.display = 'none';
}

function reveal_password () {
	alert('<MT_TRANS phrase="The password is">: ' + getByID('password').value);
}

function submitForm(f, mode) {
    if (f.elements["__mode"] && mode)
        f.elements["__mode"].value = mode;
	tkusers.onAddSubmit('click');
	ljusers.onAddSubmit('click');
	oiusers.onAddSubmit('click');
	f.elements["typekey_users"].value = tkusers.taglist.tags;
	f.elements["livejournal_users"].value = ljusers.taglist.tags;
	f.elements["openid_users"].value = oiusers.taglist.tags; 
    f.submit();
}

function group(id) {
	var group;
	var li = getByID('group-' + id);
	for (var i = 0; i < groupsJSON.length; i++) {
		if(groupsJSON[i].id == id)
			group = groupsJSON[i];
	}
	if(li.className.match('add')) {
		if(group.typekey_users) {
			getByID('typekey_prefs').style.display = 'block';
			getByID('typekey-checkbox').checked = 'checked';
			for (var i = 0; i < group.typekey_users.length; i++) 
				tkusers.addTag(group.typekey_users[i]);
		}
		if(group.livejournal_users) {
			getByID('livejournal_prefs').style.display = 'block';
			getByID('livejournal-checkbox').checked = 'checked';
			for (var i = 0; i < group.livejournal_users.length; i++) 
				ljusers.addTag(group.livejournal_users[i]);
		}	
		if(group.openid_users) {
			getByID('openid_prefs').style.display = 'block';
			getByID('openid-checkbox').checked = 'checked';
			for (var i = 0; i < group.openid_users.length; i++) 
				oiusers.addTag(group.openid_users[i]);
		}	
		li.className = 'remove';	
	} else if(li.className.match('remove')) {
		if(group.typekey_users) {
			for (var i = 0; i < group.typekey_users.length; i++) {
				if(getByID('typekey-tag-' + group.typekey_users[i]))
					tkusers.taglist.deleteTag(getByID('typekey-tag-' + group.typekey_users[i]));
			}
		}
		if(group.livejournal_users) {
			for (var i = 0; i < group.livejournal_users.length; i++) { 
				if(getByID('livejournal-tag-' + group.livejournal_users[i]))
					ljusers.taglist.deleteTag(getByID('livejournal-tag-' + group.livejournal_users[i]));
			}
		}	
		if(group.openid_users) {
			for (var i = 0; i < group.openid_users.length; i++) {
				if(getByID('openid-tag-' + group.openid_users[i]))
					oiusers.taglist.deleteTag(getByID('openid-tag-' + group.openid_users[i]));
			}
		}	
		li.className = 'add';		
	}
}

//-->
</script>
<script type="text/javascript" src="<TMPL_VAR NAME=STATIC_URI>plugins/Protect/js/yahoo.js"></script>
<script type="text/javascript" src="<TMPL_VAR NAME=STATIC_URI>plugins/Protect/js/dom.js"></script>
<script type="text/javascript" src="<TMPL_VAR NAME=STATIC_URI>plugins/Protect/js/event.js"></script>
<script type="text/javascript" src="<TMPL_VAR NAME=STATIC_URI>plugins/Protect/js/tag-widget.js"></script>
<TMPL_IF NAME=SHOW_THIRD_PARTY>
<TMPL_IF NAME=PROTECTION_GROUPS_LOOP>
<div id="protection_groups">
<h4><MT_TRANS phrase="Protection Groups"></h4>
<ul>
<TMPL_LOOP NAME=PROTECTION_GROUPS_LOOP>
<li class="add" id="group-<TMPL_VAR NAME=ID>" onclick="group('<TMPL_VAR NAME=ID>');"><span><TMPL_VAR NAME=LABEL></span></li>
</TMPL_LOOP>
</ul>
</div>	
</TMPL_IF>
</TMPL_IF>
<fieldset>
<input type="hidden" name="protect_beacon" value="1" id="protect_beacon" />
<input type="hidden" name="typekey_users" value="" id="typekey_users" />
<input type="hidden" name="livejournal_users" value="" id="livejournal_users" />
<input type="hidden" name="openid_users" value="" id="openid_users" />
<TMPL_IF NAME=SHOW_PASSWORD>
<h4><label class="protect-header-label"><input <TMPL_IF NAME=IS_PASSWORD>checked="checked"</TMPL_IF> type="checkbox" name="protection" onclick="toggleProtectPrefs(this,'password_prefs'); return true" value="Password"> <MT_TRANS phrase="Password Protection"></label></h4>
		
<div id="password_prefs" class="setting" style="display: <TMPL_IF NAME=IS_PASSWORD>block<TMPL_ELSE>none</TMPL_IF>;">
    <div class="label">
        <label for="password"><MT_TRANS phrase="Password">:</label>
    </div>
    <div class="field">
        <input name="password" id="password" value="<TMPL_VAR NAME=PASSWORD ESCAPE=HTML>" type="password" />
  		<p><a href="javascript:void(0);" onclick="reveal_password();"><MT_TRANS phrase="Reveal password"></a></p>
    </div>
</div>		
</TMPL_IF>	
<TMPL_IF NAME=SHOW_TYPEKEY>	
<h4><label class="protect-header-label"><input id="typekey-checkbox" <TMPL_IF NAME=IS_TYPEKEY>checked="checked"</TMPL_IF> type="checkbox" name="protection" onclick="toggleProtectPrefs(this,'typekey_prefs'); return true" value="Typekey"> <MT_TRANS phrase="Typekey Protection"></label></h4>
		
<div id="typekey_prefs" class="setting" style="display: <TMPL_IF NAME=IS_TYPEKEY>block<TMPL_ELSE>none</TMPL_IF>;">
    <div class="label">
        <label for="typekey"><MT_TRANS phrase="Enter Typekey Users">:</label>
    </div>
    <div class="field">
		<div id="typekey" class="tc-tags tag-widget"></div>
		<script type="text/javascript"> 
			tkusers = new TagWidget('typekey'); 
			tkusers.LIST_LABEL = ' '; 
			tkusers.FORM_LABEL = ' '; 
			tkusers.ADD_LABEL = '<MT_TRANS phrase="Add">';
			tkusers.ALWAYS_SHOW_FORM = 1;
			tkusers.TAG_DELIMITTER = '<TMPL_VAR NAME=AUTH_PREF_TAG_DELIM>';
			tkusers.taglist.TAG_LINK_FORMAT = 'http://profile.typekey.com/';
			<TMPL_LOOP NAME=TYPEKEY_USERS>
			tkusers.addTag('<TMPL_VAR NAME=TK_USER>');
			</TMPL_LOOP>
			tkusers.render(); 
		</script>
		<p><MT_TRANS phrase="Enter Typekey users here separated by"> <TMPL_IF NAME=AUTH_PREF_TAG_DELIM_COMMA><MT_TRANS phrase="commas"><TMPL_ELSE><MT_TRANS phrase="spaces"></TMPL_IF></p>
    </div>
</div>		
</TMPL_IF>
<TMPL_IF NAME=SHOW_LIVEJOURNAL>		
<h4><label class="protect-header-label"><input id="livejournal-checkbox" <TMPL_IF NAME=IS_LIVEJOURNAL>checked="checked"</TMPL_IF> type="checkbox" name="protection" onclick="toggleProtectPrefs(this,'livejournal_prefs'); return true" value="LiveJournal"> <MT_TRANS phrase="LiveJournal Protection"></label></h4>
		
<div id="livejournal_prefs" class="setting" style="display: <TMPL_IF NAME=IS_LIVEJOURNAL>block<TMPL_ELSE>none</TMPL_IF>;">
    <div class="label">
        <label for="livejournal"><MT_TRANS phrase="Enter LiveJournal Users">:</label>
    </div>
    <div class="field">
		<div id="livejournal" class="tc-tags tag-widget"></div>
		<script type="text/javascript"> 
			ljusers = new TagWidget('livejournal'); 
			ljusers.LIST_LABEL = ' '; 
			ljusers.FORM_LABEL = ' '; 
			ljusers.ADD_LABEL = '<MT_TRANS phrase="Add">';
			ljusers.ALWAYS_SHOW_FORM = 1;
			ljusers.TAG_DELIMITTER = '<TMPL_VAR NAME=AUTH_PREF_TAG_DELIM>';
			ljusers.taglist.TAG_LINK_FORMAT = 'http://www.livejournal.com/users/';
			<TMPL_LOOP NAME=LIVEJOURNAL_USERS>
			ljusers.addTag('<TMPL_VAR NAME=LJ_USER>');
			</TMPL_LOOP>
			ljusers.render(); 
		</script>
		<p><MT_TRANS phrase="Enter LiveJournal users here separated by"> <TMPL_IF NAME=AUTH_PREF_TAG_DELIM_COMMA><MT_TRANS phrase="commas"><TMPL_ELSE><MT_TRANS phrase="spaces"></TMPL_IF></p>
    </div>
</div>		
</TMPL_IF>
<TMPL_IF NAME=SHOW_OPENID>		
<h4><label class="protect-header-label"><input id="openid-checkbox" <TMPL_IF NAME=IS_OPENID>checked="checked"</TMPL_IF> type="checkbox" name="protection" value="OpenID" onclick="toggleProtectPrefs(this,'openid_prefs'); return true"> <MT_TRANS phrase="OpenID Protection"></label></h4>
		
<div id="openid_prefs" class="setting" style="display: <TMPL_IF NAME=IS_OPENID>block<TMPL_ELSE>none</TMPL_IF>;">
    <div class="label">
        <label for="openid"><MT_TRANS phrase="Enter OpenID Users">:</label>
    </div>
    <div class="field">
		<div id="openid" class="tc-tags tag-widget"></div>
		<script type="text/javascript"> 
			oiusers = new TagWidget('openid'); 
			oiusers.LIST_LABEL = ' '; 
			oiusers.FORM_LABEL = ' '; 
			oiusers.ADD_LABEL = '<MT_TRANS phrase="Add">';
			oiusers.ALWAYS_SHOW_FORM = 1;
			oiusers.TAG_DELIMITTER = '<TMPL_VAR NAME=AUTH_PREF_TAG_DELIM>';
			oiusers.taglist.TAG_LINK_FORMAT = '#openid-tag-';
			<TMPL_LOOP NAME=OPENID_USERS>
			oiusers.addTag('<TMPL_VAR NAME=OI_USER>');
			</TMPL_LOOP>			
			oiusers.render(); 
		</script>
		<p><MT_TRANS phrase="Enter OpenID urls here separated by"> <TMPL_IF NAME=AUTH_PREF_TAG_DELIM_COMMA><MT_TRANS phrase="commas"><TMPL_ELSE><MT_TRANS phrase="spaces"></TMPL_IF></p>
    </div>
</div>
</TMPL_IF>
</fieldset>