<TMPL_INCLUDE name="header.tmpl">
<script type="text/javascript">
<!--
var tableSelect;
function init()
{
	// setup
	tableSelect = new TC.TableSelect( "selector" );
	tableSelect.rowSelect = true;
}

TC.attachLoadEvent( init );
// -->
</script>
<div id="list-entry">
<h2><MT_TRANS phrase="Protection Groups"></h2>

<TMPL_IF NAME=MESSAGE>
<p class="message"><TMPL_VAR NAME=MESSAGE></p>
</TMPL_IF>

<p class="page-desc"><MT_TRANS phrase="Protection Groups allow you to define sets of any number of people who often garner the same permissions. The protection group -- and hence all of the people in it -- can be granted access to an entry as easily as one person. For all intents and purposes, protection groups are like email aliases in that you only send an email to only one address and yet many can receive it"></p>

<div class="tabs">
<ul>
<li class="yah"><a href="<TMPL_VAR NAME=SCRIPT_URL>?__mode=tk_groups"><MT_TRANS phrase="Protection Groups"></a></li>
<li class="special">
<img src="<TMPL_VAR NAME=STATIC_URI>images/status_icons/create.gif" alt="<MT_TRANS phrase="Create New Entry">" width="9" height="9" />
<a href="<TMPL_VAR NAME=SCRIPT_URL>?__mode=edit&_type=groups&add=1"><MT_TRANS phrase="Create New Group"></a>
</li>
</ul>
</div>

<TMPL_IF EMPTY>
<table width="100%">
<tr><td align="center" bgcolor="#EEEEEE"><MT_TRANS phrase="You currently have no Protection Groups."></td></tr>
</table>
<TMPL_ELSE>

<div class="list" id="selector">
    <form method="get" action="<TMPL_VAR NAME=SCRIPT_URL>">
        <input type="hidden" name="__mode" value="delete" />
        <input type="hidden" name="_type" value="groups" />        

<table cellspacing="0" class="compact">
<thead>
    <tr>
    <th class="cb"><input type="checkbox" name="id-head" value="all" class="select" /></th>
        <th><MT_TRANS phrase="Name"></th>
        <th><MT_TRANS phrase="Description"></th>
        <th><MT_TRANS phrase="Members"></th>
    </tr>
</thead>   
<tbody>    
<TMPL_LOOP NAME=LOOP>

    <tr class="<TMPL_IF NAME=ENTRY_ODD>odd<TMPL_ELSE>even</TMPL_IF>">
    <td class="cb"><input type="checkbox" name="id" value="<TMPL_VAR NAME=ID>" class="select" /></td>
        <td><a href="<TMPL_VAR NAME=SCRIPT_URL>?__mode=edit&_type=groups&id=<TMPL_VAR NAME=ID>&edit=1"><TMPL_VAR NAME=LABEL></a></td>
        <td><TMPL_VAR NAME=DESCRIPTION></td>  
        <td><a href="<TMPL_VAR NAME=SCRIPT_URL>?__mode=edit&_type=groups&id=<TMPL_VAR NAME=ID>&edit=1"><TMPL_VAR NAME=MEMBER_COUNT> <MT_TRANS phrase="members"></a></td>                   
        
    </tr>

</TMPL_LOOP>
</tbody>
    </table>
<div class="list-actions">
<div class="button-bar">
<input type="button" onclick="doRemoveItems(this.form, 'group', 'groups')" name="delete_entries" value="<MT_TRANS phrase="Delete">" accesskey="d" title="Delete selected groups (d)" />
</div>     
</div>        
</form>
</div>
</TMPL_IF>
</div>
<TMPL_INCLUDE name="footer.tmpl">