<TMPL_INCLUDE NAME=header.tmpl>

<div class="upgrade">

<h2><MT_TRANS phrase="Time to Upgrade!"></h2>

<p><MT_TRANS phrase="A new version of MT Protect has been installed.  We'll need to complete a few tasks to update your database."></p>

<div class="button-bar">
<form method="post" action="<TMPL_VAR NAME=SCRIPT_URL>">
    <input type="hidden" name="_type" value="<TMPL_VAR NAME=TYPE>" />
    <input type="hidden" name="blog_id" value="<TMPL_VAR NAME=BLOG_ID>" />
    <input type="hidden" name="id" value="<TMPL_VAR NAME=ID>" />
<input type="hidden" name="__mode" value="upgrade" />
<input type="submit" value="<MT_TRANS phrase="Begin Upgrade">" />
</form>
</div>

</div>

<TMPL_INCLUDE NAME=footer.tmpl>
