<mt:setvarblock name="html_head" append="1">
	<style type="text/css">
	.dialog-4 #container, .dialog-4 #content { overflow: visible; }
	.dialog-4 .actions-bar { position: static;}
	</style>
</mt:setvarblock>
<mt:setvar name="screen_type" value="dialog-screen dialog-4">
<mt:setvarblock name="content_header">
	<mt:setvar name="page_title" value="<__trans phrase="Edit Privacy">">
</mt:setvarblock>
<mt:include name="dialog/header.tmpl">

<script type="text/javascript">
<!--
	function togglePrivacy(check, key) {
		if(check.checked == true)
			show(key + '-container');
		else
			hide(key + '-container');
	}
	
	function revealPassword() {
		alert('<__trans phrase="The password is:"> ' + getByID('Password').value);
	}
	
	function save() {
		var d = top.document;
		
		<mt:loop name="auth_loop">
			if(getByID('<mt:var name="key">_checkbox').checked == true) 
				d.getElementById('privacy_<mt:var name="key">').value = getByID('<mt:var name="key">_setting').value;
		</mt:loop>
		
		d.getElementById('saved-privacy-container').style.display = 'block';
		closeDialog();
	}
	
	function init() {
		var d = top.document;
		var value;
		
		<mt:loop name="auth_loop">
			value = ""; // Clear the value from the previous auth
			value = d.getElementById('privacy_<mt:var name="key">').value;
			if(value) {
				getByID('<mt:var name="key">_checkbox').checked = true;
				show('<mt:var name="key">-container');
				getByID('<mt:var name="key">_setting').value = value;
			}
		</mt:loop>
	}
	
	TC.attachLoadEvent( init );
//-->
</script>
	
	<mt:setvarblock name="privacy_types_hint"><__trans phrase="Please select the authenticators users can use to sign in to view this [_1]" params="<mt:var name="object_type">"></mt:setvarblock>
	<mtapp:setting
	id="privacy_types"
	label="Authenticators"
	hint="$privacy_types_hint"
	show_hint="1">
	
	<mt:loop name="auth_loop">
		<p><label><input type="checkbox" name="<mt:var name="key">_checkbox" value="1" id="<mt:var name="key">_checkbox" onclick="togglePrivacy(this, '<mt:var name="key">');" /> <mt:var name="label"></label></p>
	</mt:loop>
	</mtapp:setting>
	
	<mt:loop name="auth_loop">
		<mt:if name="key" eq="Password">
			<mt:setvar name="hint" value="Please enter a password here">
		<mt:else>
			<mt:if name="key" eq="Group">
				<mt:setvar name="hint" value="Please enter group names here separated by commas (e.g. <code>melody, nelson</code>)">
			<mt:else>
				<mt:setvar name="hint" value="Please enter usernames here separated by commas (e.g. <code>melody, nelson</code>)">
			</mt:if>
		</mt:if>
		<div id="<mt:var name="key">-container" style="display:none;">
			<mtapp:setting
			id="$key"
			label="$label"
			hint="$hint"
			show_hint="1">
			<mt:if name="key" eq="Password">
				<div class="textarea-wrapper">
					<input type="password" name="<mt:var name="key">_setting" value="" id="<mt:var name="key">_setting" class="full-width" />
				</div>
				<p class="hint"><a href="#" onclick="revealPassword();"><__trans phrase="Reveal Password"></a></p>
			<mt:else>
				<textarea name="<mt:var name="key">_setting" id="<mt:var name="key">_setting" rows="3" cols="72" class="full-width"></textarea>
			</mt:if>
			</mtapp:setting>
		</div>
	</mt:loop>
	
	<div class="actions-bar">
	    <div class="actions-bar-inner pkg actions">
			<button
	            type="submit"
	            accesskey="s"
	            title="<__trans phrase="Save Changes (s)">"
	            class="primary-button close"
				onclick="save();"
	            ><__trans phrase="Save Changes"></button>
	        <button
	            onclick="closeDialog(); return false"
	            type="submit"
	            accesskey="x"
	            class="cancel"
	            title="<__trans phrase="Cancel (x)">"
	            ><__trans phrase="Cancel"></button>
		</div>
	</div>
	
<mt:include name="dialog/footer.tmpl">