<script type="text/javascript">
<!--
	<mt:if name="category_defaults">var categoryPrivacyJSON = <mt:var name="category_defaults" to_json="1">;</mt:if>
	function changePrivacy(f) {
		if(f.value == 1) {
			getByID('edit-privacy').style.display = 'block';
			<mt:unless name="is_private">openPrivacyEditor();</mt:unless>
		}
		else
			getByID('edit-privacy').style.display = 'none';
	}
	
	function openPrivacyEditor() {		
		getByID('saved-privacy-container').style.display = 'none';
		getByID('privacy_manual').value = 1;
		
		return openDialog(false, 'edit_privacy', 'blog_id=<mt:var name="blog_id">&amp;_type=<mt:var name="object_type">&amp;id=<mt:var name="id">');
	}
	
	
	// FIXME: If a user adds a category and then removes it, corresponding privacy NOT removed
	function addCatPrivacy() {
		var categoryIDs = document.getElementById('category-ids').value.split(', ');
		if (!categoryIDs)
			return;
			
		var authTypes = new Array(<mt:loop name="auth_loop">'<mt:var name="key">'<mt:unless name="__last__">, </mt:unless></mt:loop>);
		
		for (var i = 0; i < categoryIDs.length; i++) {
			var category;
			
			// Find the current category's privacy object
			for (var j = 0; j < categoryPrivacyJSON.length; j++) {
				if(categoryPrivacyJSON[j].id == categoryIDs[i])
					category = categoryPrivacyJSON[j]; break;
			}
			
			if(!category)
				continue;
			
			// Loop through the various authenticators and add them to the appropriate field
			for (var k = 0; k < authTypes.length; k++) {
				var auth = authTypes[k];
				var cur = document.getElementById('privacy_' + auth).value;
				var cPrivacy = category[auth];
				
				if(!cPrivacy)
					continue;
									
				if(auth == 'Password') {
					if(!cur)
						document.getElementById('privacy_' + auth).value = cPrivacy;
				} else {
					var currLoop;				
					if(cur)
						currLoop = cur.split(', ');
					else
						currLoop = new Array();

					// Good lord, so many loops I'm now using l! Loop through credentials
					// for this authenticator and see if it already exists. If not, add it
					for (var l = 0; l < cPrivacy.length; l++) {
						if(cur.match(cPrivacy[l]))
							continue;

						currLoop[currLoop.length] = cPrivacy[l];
					}

					document.getElementById('privacy_' + auth).value = currLoop.join(', ');					
				}
			}		
		}
		
	}
	
//-->
</script>

<div id="saved-privacy-container" style="display:none;">
<mtapp:statusmsg
    id="saved-privacy"
    class="success">
    <__trans phrase="Your privacy settings have been saved.">
</mtapp:statusmsg></div>

<mtapp:setting
    id="privacy"
    label="Privacy">
	<input type="hidden" name="privacy_manual" value="0" id="privacy_manual" />
	<mt:loop name="auth_loop">
   	<input type="hidden" name="privacy_<mt:var name="key">" value="<mt:var name="credentials" escape="html">" id="privacy_<mt:var name="key">">
	</mt:loop>
	
	<select name="privacy" id="privacy" class="full-width" onchange="changePrivacy(this);">
		<option value="0"><__trans phrase="Public"></option>
		<option value="1"<mt:if name="is_private"> selected="selected"</mt:if>><__trans phrase="Private"></option>
	</select>		
	<a href="javascript:void(0);" id="edit-privacy" style="font-size:11px; margin-top:7px;<mt:unless name="is_private">display:none;</mt:unless>" class="hint" onclick="openPrivacyEditor();"><__trans phrase="Edit Privacy Settings"></a>

</mtapp:setting>