<link rel="stylesheet" href="<TMPL_VAR NAME=STATIC_URI>plugins/Privacy/styles.css" type="text/css" />
<script type="text/javascript">
<!--
var tkusers, ljusers, oiusers;
<TMPL_IF NAME=PROTECTION_GROUPS>var groupsJSON = <TMPL_VAR NAME=PROTECTION_GROUPS>;</TMPL_IF>
<TMPL_IF NAME=CATEGORY_DEFAULTS>var categoryDefaultsJSON = <TMPL_VAR NAME=CATEGORY_DEFAULTS>;</TMPL_IF>

function populatePrivacy(d, o) {
	if(o == 'in') {
		if(d.password) {
			getByID('password_prefs').style.display = 'block';
			getByID('password-checkbox').checked = 'checked';
			getByID('privacy_password').value = d.password;
		}		
		if(d.typekey_users) {
			getByID('typekey_prefs').style.display = 'block';
			getByID('typekey-checkbox').checked = 'checked';
			for (var i = 0; i < d.typekey_users.length; i++) 
				tkusers.addTag(d.typekey_users[i]);
		}
		if(d.livejournal_users) {
			getByID('livejournal_prefs').style.display = 'block';
			getByID('livejournal-checkbox').checked = 'checked';
			for (var i = 0; i < d.livejournal_users.length; i++) 
				ljusers.addTag(d.livejournal_users[i]);
		}	
		if(d.openid_users) {
			getByID('openid_prefs').style.display = 'block';
			getByID('openid-checkbox').checked = 'checked';
			for (var i = 0; i < d.openid_users.length; i++) 
				oiusers.addTag(d.openid_users[i]);
		}
	} else {
		if(d.password) {
			getByID('privacy_password').value = '';
		}		
		if(d.typekey_users) {
			for (var i = 0; i < d.typekey_users.length; i++) {
				if(getByID('typekey-tag-' + d.typekey_users[i]))
					tkusers.taglist.deleteTag(getByID('typekey-tag-' + d.typekey_users[i]));
			}
		}
		if(d.livejournal_users) {
			for (var i = 0; i < d.livejournal_users.length; i++) { 
				if(getByID('livejournal-tag-' + d.livejournal_users[i]))
					ljusers.taglist.deleteTag(getByID('livejournal-tag-' + d.livejournal_users[i]));
			}
		}	
		if(d.openid_users) {
			for (var i = 0; i < d.openid_users.length; i++) {
				if(getByID('openid-tag-' + d.openid_users[i]))
					oiusers.taglist.deleteTag(getByID('openid-tag-' + d.openid_users[i]));
			}
		}		
	}
}


<TMPL_IF NAME=IS_ENTRY>
function doAddCategoryDefaults (s) {
	if (lastPrimaryCatId > 0) {
		for (var i = 0; i < categoryDefaultsJSON.length; i++) {
			if(categoryDefaultsJSON[i].id == lastPrimaryCatId)
				populatePrivacy(categoryDefaultsJSON[i], 'out');
		}
	}
	doAddCategory(s);
	var id = s.options[s.selectedIndex].value;
	for (var i = 0; i < categoryDefaultsJSON.length; i++) {
		if(categoryDefaultsJSON[i].id == id)
			populatePrivacy(categoryDefaultsJSON[i], 'in');
	}	
	lastPrimaryCatId = id;
}
</TMPL_IF>

function toggleProtectPrefs (c, div) {
    var e = getByID(div);
	var d = getByID('default_prefs');
	
	if(c.checked == true) {
		e.style.display = 'block';
		d.style.display = 'block';
	} else {
		e.style.display = 'none';		
	}
}

function reveal_password () {
	alert('<MT_TRANS phrase="The password is">: ' + getByID('privacy_password').value);
}

function submitForm(f, mode) {
    if (f.elements["__mode"] && mode)
        f.elements["__mode"].value = mode;
	<TMPL_IF NAME=SHOW_TYPEKEY>tkusers.onAddSubmit('click');f.elements["typekey_users"].value = tkusers.taglist.tags;</TMPL_IF>
	<TMPL_IF NAME=SHOW_LIVEJOURNAL>ljusers.onAddSubmit('click');f.elements["livejournal_users"].value = ljusers.taglist.tags;</TMPL_IF>
	<TMPL_IF NAME=SHOW_OPENID>oiusers.onAddSubmit('click');f.elements["openid_users"].value = oiusers.taglist.tags;</TMPL_IF> 
    f.submit();
}

function group(id) {
	var group;
	var li = getByID('group-' + id);
	for (var i = 0; i < groupsJSON.length; i++) {
		if(groupsJSON[i].id == id)
			group = groupsJSON[i];
	}
	if(li.className.match('add')) {
		populatePrivacy(group, 'in');
		li.className = 'remove';	
	} else if(li.className.match('remove')) {
		populatePrivacy(group, 'out');	
		li.className = 'add';		
	}
}

//-->
</script>
<script type="text/javascript" src="<TMPL_VAR NAME=STATIC_URI>plugins/Privacy/js/yahoo.js"></script>
<script type="text/javascript" src="<TMPL_VAR NAME=STATIC_URI>plugins/Privacy/js/dom.js"></script>
<script type="text/javascript" src="<TMPL_VAR NAME=STATIC_URI>plugins/Privacy/js/event.js"></script>
<script type="text/javascript" src="<TMPL_VAR NAME=STATIC_URI>plugins/Privacy/js/tag-widget.js"></script>
<TMPL_IF NAME=SHOW_THIRD_PARTY>
<TMPL_IF NAME=PROTECTION_GROUPS_LOOP>
<div id="protection_groups">
<h4><MT_TRANS phrase="Protection Groups"></h4>
<ul>
<TMPL_LOOP NAME=PROTECTION_GROUPS_LOOP>
<li class="add" id="group-<TMPL_VAR NAME=ID>" onclick="group('<TMPL_VAR NAME=ID>');"><span><TMPL_VAR NAME=LABEL></span></li>
</TMPL_LOOP>
</ul>
</div>	
</TMPL_IF>
</TMPL_IF>
<fieldset>
<input type="hidden" name="do_recursive" value="0" id="do_recursive" />
<input type="hidden" name="protect_beacon" value="1" id="protect_beacon" />
<input type="hidden" name="typekey_users" value="" id="typekey_users" />
<input type="hidden" name="livejournal_users" value="" id="livejournal_users" />
<input type="hidden" name="openid_users" value="" id="openid_users" />
<TMPL_IF NAME=SHOW_PASSWORD>
<h4><label class="protect-header-label"><input id="password-checkbox" <TMPL_IF NAME=IS_PASSWORD>checked="checked"</TMPL_IF> type="checkbox" name="protection" onclick="toggleProtectPrefs(this,'password_prefs'); return true" value="Password"> <MT_TRANS phrase="Password Protection"></label></h4>
<div id="password_prefs" class="setting" style="display: <TMPL_IF NAME=IS_PASSWORD>block<TMPL_ELSE>none</TMPL_IF>;">
    <div class="label">
        <label for="privacy_password"><MT_TRANS phrase="Password">:</label>
    </div>
    <div class="field">
        <input name="privacy_password" id="privacy_password" value="<TMPL_VAR NAME=PASSWORD ESCAPE=HTML>" type="password" />
  		<p><a href="javascript:void(0);" onclick="reveal_password();"><MT_TRANS phrase="Reveal password"></a></p>
    </div>
</div>		
</TMPL_IF>	
<TMPL_IF NAME=SHOW_TYPEKEY>	
<h4><label class="protect-header-label"><input id="typekey-checkbox" <TMPL_IF NAME=IS_TYPEKEY>checked="checked"</TMPL_IF> type="checkbox" name="protection" onclick="toggleProtectPrefs(this,'typekey_prefs'); return true" value="Typekey"> <MT_TRANS phrase="Typekey Protection"></label></h4>
		
<div id="typekey_prefs" class="setting" style="display: <TMPL_IF NAME=IS_TYPEKEY>block<TMPL_ELSE>none</TMPL_IF>;">
    <div class="label">
        <label for="typekey"><MT_TRANS phrase="Enter Typekey Users">:</label>
    </div>
    <div class="field">
		<div id="typekey" class="tc-tags tag-widget"></div>
		<script type="text/javascript"> 
			tkusers = new TagWidget('typekey'); 
			tkusers.LIST_LABEL = ' '; 
			tkusers.FORM_LABEL = ' '; 
			tkusers.ADD_LABEL = '<MT_TRANS phrase="Add">';
			tkusers.ALWAYS_SHOW_FORM = 1;
			tkusers.TAG_DELIMITTER = '<TMPL_VAR NAME=AUTH_PREF_TAG_DELIM>';
			tkusers.taglist.TAG_LINK_FORMAT = 'http://profile.typekey.com/';
			<TMPL_LOOP NAME=TYPEKEY_USERS>
			tkusers.addTag('<TMPL_VAR NAME=TK_USER>');
			</TMPL_LOOP>
			tkusers.render(); 
		</script>
		<p><MT_TRANS phrase="Enter Typekey users here separated by"> <TMPL_IF NAME=AUTH_PREF_TAG_DELIM_COMMA><MT_TRANS phrase="commas"><TMPL_ELSE><MT_TRANS phrase="spaces"></TMPL_IF></p>
    </div>
</div>		
</TMPL_IF>
<TMPL_IF NAME=SHOW_LIVEJOURNAL>		
<h4><label class="protect-header-label"><input id="livejournal-checkbox" <TMPL_IF NAME=IS_LIVEJOURNAL>checked="checked"</TMPL_IF> type="checkbox" name="protection" onclick="toggleProtectPrefs(this,'livejournal_prefs'); return true" value="LiveJournal"> <MT_TRANS phrase="LiveJournal Protection"></label></h4>
		
<div id="livejournal_prefs" class="setting" style="display: <TMPL_IF NAME=IS_LIVEJOURNAL>block<TMPL_ELSE>none</TMPL_IF>;">
    <div class="label">
        <label for="livejournal"><MT_TRANS phrase="Enter LiveJournal Users">:</label>
    </div>
    <div class="field">
		<div id="livejournal" class="tc-tags tag-widget"></div>
		<script type="text/javascript"> 
			ljusers = new TagWidget('livejournal'); 
			ljusers.LIST_LABEL = ' '; 
			ljusers.FORM_LABEL = ' '; 
			ljusers.ADD_LABEL = '<MT_TRANS phrase="Add">';
			ljusers.ALWAYS_SHOW_FORM = 1;
			ljusers.TAG_DELIMITTER = '<TMPL_VAR NAME=AUTH_PREF_TAG_DELIM>';
			ljusers.taglist.TAG_LINK_FORMAT = 'http://www.livejournal.com/users/';
			<TMPL_LOOP NAME=LIVEJOURNAL_USERS>
			ljusers.addTag('<TMPL_VAR NAME=LJ_USER>');
			</TMPL_LOOP>
			ljusers.render(); 
		</script>
		<p><MT_TRANS phrase="Enter LiveJournal users here separated by"> <TMPL_IF NAME=AUTH_PREF_TAG_DELIM_COMMA><MT_TRANS phrase="commas"><TMPL_ELSE><MT_TRANS phrase="spaces"></TMPL_IF></p>
    </div>
</div>		
</TMPL_IF>
<TMPL_IF NAME=SHOW_OPENID>		
<h4><label class="protect-header-label"><input id="openid-checkbox" <TMPL_IF NAME=IS_OPENID>checked="checked"</TMPL_IF> type="checkbox" name="protection" value="OpenID" onclick="toggleProtectPrefs(this,'openid_prefs'); return true"> <MT_TRANS phrase="OpenID Protection"></label></h4>
		
<div id="openid_prefs" class="setting" style="display: <TMPL_IF NAME=IS_OPENID>block<TMPL_ELSE>none</TMPL_IF>;">
    <div class="label">
        <label for="openid"><MT_TRANS phrase="Enter OpenID Users">:</label>
    </div>
    <div class="field">
		<div id="openid" class="tc-tags tag-widget"></div>
		<script type="text/javascript"> 
			oiusers = new TagWidget('openid'); 
			oiusers.LIST_LABEL = ' '; 
			oiusers.FORM_LABEL = ' '; 
			oiusers.ADD_LABEL = '<MT_TRANS phrase="Add">';
			oiusers.ALWAYS_SHOW_FORM = 1;
			oiusers.TAG_DELIMITTER = '<TMPL_VAR NAME=AUTH_PREF_TAG_DELIM>';
			oiusers.taglist.TAG_LINK_FORMAT = '#openid-tag-';
			<TMPL_LOOP NAME=OPENID_USERS>
			oiusers.addTag('<TMPL_VAR NAME=OI_USER>');
			</TMPL_LOOP>			
			oiusers.render(); 
		</script>
		<p><MT_TRANS phrase="Enter OpenID urls here separated by"> <TMPL_IF NAME=AUTH_PREF_TAG_DELIM_COMMA><MT_TRANS phrase="commas"><TMPL_ELSE><MT_TRANS phrase="spaces"></TMPL_IF></p>
    </div>
</div>
</TMPL_IF>

<TMPL_IF NAME=ALLOW_DEFAULTS>
<hr />
<div id="default_prefs" class="setting" style="display: <TMPL_IF NAME=IS_PRIVATE>block<TMPL_ELSE>none</TMPL_IF>;">
	<TMPL_IF NAME=IS_BLOG_OVERRIDE><div class="message"><MT_TRANS phrase="Privacy defaults have been set at the blog level"></div></TMPL_IF>
    <div class="label">
        <label for="defaults"><MT_TRANS phrase="Inhreit privacy for">:</label>
    </div>
    <div class="field">
		<p><label><input type="checkbox" name="entries" value="1" id="entries"<TMPL_IF NAME=IS_ENTRIES> checked="checked"</TMPL_IF><TMPL_IF NAME=IS_BLOG_OVERRIDE> disabled="disabled"</TMPL_IF> /> <MT_TRANS phrase="New entries"></label><TMPL_IF NAME=IS_BLOG><br />
		<label><input type="checkbox" name="categories" value="1" id="categories"<TMPL_IF NAME=IS_CATEGORIES> checked="checked"</TMPL_IF><TMPL_IF NAME=IS_BLOG_OVERRIDE> disabled="disabled"</TMPL_IF> /> <MT_TRANS phrase="New categories"></label></TMPL_IF></p>	
    </div>
</div>
</TMPL_IF>
</fieldset>