<link rel="stylesheet" href="<TMPL_VAR NAME=STATIC_URI>plugins/Privacy/styles.css" type="text/css" />
<script type="text/javascript">
<!--
var tkusers, ljusers, oiusers;
<TMPL_IF NAME=PROTECTION_GROUPS>var groupsJSON = <TMPL_VAR NAME=PROTECTION_GROUPS>;</TMPL_IF>
<TMPL_IF NAME=CATEGORY_DEFAULTS>var categoryDefaultsJSON = <TMPL_VAR NAME=CATEGORY_DEFAULTS>;</TMPL_IF>

function populatePrivacy(d, o) {
	if(o == 'in') {
		<TMPL_LOOP NAME=AUTH_LOOP>
		<TMPL_IF NAME=SHOW>		
		if(d.<TMPL_VAR NAME=KEY> || d.<TMPL_VAR NAME=KEY>_users) {
			getByID('<TMPL_VAR NAME=KEY>_prefs').style.display = 'block';
			getByID('<TMPL_VAR NAME=KEY>-checkbox').checked = 'checked';
			<TMPL_IF NAME=SINGLE>
			getByID('<TMPL_VAR NAME=KEY>').value = d.<TMPL_VAR NAME=KEY>;
			<TMPL_ELSE>
			for (var i = 0; i < d.<TMPL_VAR NAME=KEY>_users.length; i++) 
				<TMPL_VAR NAME=KEY>.addTag(d.<TMPL_VAR NAME=KEY>_users[i]);			
			</TMPL_IF>			
		}
		</TMPL_IF></TMPL_LOOP>
	} else {
		<TMPL_LOOP NAME=AUTH_LOOP>
		<TMPL_IF NAME=SHOW>		
		if(d.<TMPL_VAR NAME=KEY> || d.<TMPL_VAR NAME=KEY>_users) {
			<TMPL_IF NAME=SINGLE>
			getByID('<TMPL_VAR NAME=KEY>').value = '';
			<TMPL_ELSE>
			for (var i = 0; i < d.<TMPL_VAR NAME=KEY>_users.length; i++) {
				if(getByID('<TMPL_VAR NAME=KEY>-tag-' + d.<TMPL_VAR NAME=KEY>_users[i]))
					<TMPL_VAR NAME=KEY>.taglist.deleteTag(getByID('<TMPL_VAR NAME=KEY>-tag-' + d.<TMPL_VAR NAME=KEY>_users[i]));
			}		
			</TMPL_IF>			
		}
		</TMPL_IF></TMPL_LOOP>				
	}
}


<TMPL_IF NAME=IS_ENTRY>
function doAddCategoryDefaults (s) {
	if (lastPrimaryCatId > 0) {
		for (var i = 0; i < categoryDefaultsJSON.length; i++) {
			if(categoryDefaultsJSON[i].id == lastPrimaryCatId)
				populatePrivacy(categoryDefaultsJSON[i], 'out');
		}
	}
	doAddCategory(s);
	var id = s.options[s.selectedIndex].value;
	for (var i = 0; i < categoryDefaultsJSON.length; i++) {
		if(categoryDefaultsJSON[i].id == id)
			populatePrivacy(categoryDefaultsJSON[i], 'in');
	}	
	lastPrimaryCatId = id;
}
</TMPL_IF>

function toggleProtectPrefs (c, div) {
    var e = getByID(div);
	var d = getByID('default_prefs');
	
	if(c.checked == true) {
		e.style.display = 'block';
		d.style.display = 'block';
	} else {
		e.style.display = 'none';		
	}
}

function reveal_password () {
	alert('<MT_TRANS phrase="The password is">: ' + getByID('password').value);
}

function submitForm(f, mode) {
    if (f.elements["__mode"] && mode)
        f.elements["__mode"].value = mode;
	<TMPL_LOOP NAME=AUTH_LOOP>
	<TMPL_IF NAME=SHOW><TMPL_UNLESS NAME=SINGLE>
	<TMPL_VAR NAME=KEY>.onAddSubmit('click');
	f.elements["<TMPL_VAR NAME=KEY>_users"].value = <TMPL_VAR NAME=KEY>.taglist.tags;
	</TMPL_UNLESS></TMPL_IF>
	</TMPL_LOOP>
    f.submit();
}

function group(id) {
	var group;
	var li = getByID('group-' + id);
	for (var i = 0; i < groupsJSON.length; i++) {
		if(groupsJSON[i].id == id)
			group = groupsJSON[i];
	}
	if(li.className.match('add')) {
		populatePrivacy(group, 'in');
		li.className = 'remove';	
	} else if(li.className.match('remove')) {
		populatePrivacy(group, 'out');	
		li.className = 'add';		
	}
}

//-->
</script>
<script type="text/javascript" src="<TMPL_VAR NAME=STATIC_URI>plugins/Privacy/js/yahoo.js"></script>
<script type="text/javascript" src="<TMPL_VAR NAME=STATIC_URI>plugins/Privacy/js/dom.js"></script>
<script type="text/javascript" src="<TMPL_VAR NAME=STATIC_URI>plugins/Privacy/js/event.js"></script>
<script type="text/javascript" src="<TMPL_VAR NAME=STATIC_URI>plugins/Privacy/js/tag-widget.js"></script>
<TMPL_IF NAME=SHOW_THIRD_PARTY>
<TMPL_IF NAME=PROTECTION_GROUPS_LOOP>
<div id="protection_groups">
<h4><MT_TRANS phrase="Protection Groups"></h4>
<ul>
<TMPL_LOOP NAME=PROTECTION_GROUPS_LOOP>
<li class="add" id="group-<TMPL_VAR NAME=ID>" onclick="group('<TMPL_VAR NAME=ID>');"><span><TMPL_VAR NAME=LABEL></span></li>
</TMPL_LOOP>
</ul>
</div>	
</TMPL_IF>
</TMPL_IF>
<fieldset>
<input type="hidden" name="do_recursive" value="0" id="do_recursive" />
<input type="hidden" name="protect_beacon" value="1" id="protect_beacon" />

<TMPL_LOOP NAME=AUTH_LOOP>
<TMPL_IF NAME=SHOW>
<h4><label class="protect-header-label"><input id="<TMPL_VAR NAME=KEY>-checkbox" type="checkbox" name="protection" onclick="toggleProtectPrefs(this,'<TMPL_VAR NAME=KEY>_prefs'); return true" value="<TMPL_VAR NAME=KEY>" <TMPL_IF NAME=IS_SELECTED>checked="checked"</TMPL_IF>> <TMPL_VAR NAME=LABEL></label></h4>

<div id="<TMPL_VAR NAME=KEY>_prefs" class="setting" style="display: <TMPL_IF NAME=IS_SELECTED>block<TMPL_ELSE>none</TMPL_IF>;">
	<TMPL_IF NAME=FIELD_LABEL>
    <div class="label">
        <label for="password"><TMPL_VAR NAME=FIELD_LABEL>:</label>
    </div>
	</TMPL_IF>
    <div class="field">
		<TMPL_IF NAME=SINGLE>
		<input name="<TMPL_VAR NAME=KEY>" id="<TMPL_VAR NAME=KEY>" value="<TMPL_VAR NAME=CREDENTIAL ESCAPE=HTML>" type="text" />
		<TMPL_ELSE>
		<input type="hidden" name="<TMPL_VAR NAME=KEY>_users" value="" id="<TMPL_VAR NAME=KEY>_users" />
		<div id="<TMPL_VAR NAME=KEY>" class="tc-tags tag-widget"></div>
		<script type="text/javascript"> 
			<TMPL_VAR NAME=KEY> = new TagWidget('<TMPL_VAR NAME=KEY>'); 
			<TMPL_VAR NAME=KEY>.LIST_LABEL = ' '; 
			<TMPL_VAR NAME=KEY>.FORM_LABEL = ' '; 
			<TMPL_VAR NAME=KEY>.ADD_LABEL = '<MT_TRANS phrase="Add">';
			<TMPL_VAR NAME=KEY>.ALWAYS_SHOW_FORM = 1;
			<TMPL_VAR NAME=KEY>.TAG_DELIMITTER = '<TMPL_VAR NAME=AUTH_PREF_TAG_DELIM>';
			<TMPL_LOOP NAME=USER_LOOP>
			<TMPL_VAR NAME=KEY>.addTag('<TMPL_VAR NAME=USER>');
			</TMPL_LOOP>
			<TMPL_VAR NAME=KEY>.render(); 
		</script>
		</TMPL_IF>
		<TMPL_IF NAME=FIELD_EXPLANATION><p><TMPL_VAR NAME=FIELD_EXPLANATION> <TMPL_IF NAME=AUTH_PREF_TAG_DELIM_COMMA><MT_TRANS phrase="(comma-delimited list)"><TMPL_ELSE><TMPL_IF NAME=AUTH_PREF_TAG_DELIM_SPACE><MT_TRANS phrase="(space-delimited list)"><TMPL_ELSE><MT_TRANS phrase="(delimited by '[_1]')" params="<TMPL_VAR NAME=AUTH_PREF_TAG_DELIM>"></TMPL_IF></TMPL_IF></p></TMPL_IF>
    </div>
</div>


</TMPL_IF>
</TMPL_LOOP>



<TMPL_IF NAME=ALLOW_DEFAULTS>

<div id="default_prefs" class="setting" style="display: <TMPL_IF NAME=IS_PRIVATE>block<TMPL_ELSE>none</TMPL_IF>;">
	<TMPL_IF NAME=IS_BLOG_OVERRIDE><div class="message"><MT_TRANS phrase="Privacy defaults have been set at the blog level"></div></TMPL_IF>
    <div class="label">
        <label for="defaults"><MT_TRANS phrase="Inhreit privacy for">:</label>
    </div>
    <div class="field">
		<p><label><input type="checkbox" name="entries" value="1" id="entries"<TMPL_IF NAME=IS_ENTRIES> checked="checked"</TMPL_IF><TMPL_IF NAME=IS_BLOG_OVERRIDE> disabled="disabled"</TMPL_IF> /> <MT_TRANS phrase="New entries"></label><TMPL_IF NAME=IS_BLOG><br />
		<label><input type="checkbox" name="categories" value="1" id="categories"<TMPL_IF NAME=IS_CATEGORIES> checked="checked"</TMPL_IF><TMPL_IF NAME=IS_BLOG_OVERRIDE> disabled="disabled"</TMPL_IF> /> <MT_TRANS phrase="New categories"></label></TMPL_IF></p>	
    </div>
</div>
</TMPL_IF>
</fieldset>