<TMPL_INCLUDE name="header-popup.tmpl">
<script type="text/javascript">
<!--
window.resizeTo(675,450);
// -->
</script>

<h2><span class="weblog-title-highlight"><TMPL_VAR NAME=BLOG_NAME ESCAPE=HTML>:</span> <MT_TRANS phrase="Privacy"></h2>

<div class="import-process">

<div id="progress-bar"><img src="<TMPL_VAR NAME=STATIC_URI>images/indeterminate-progress-bar.gif" alt="" height="24" width="124" /></div>

<pre>
