<?php
	include('<$MTCGIServerPath$>/php/mt.php');
	$mt = new MT(<$MTBlogID$>, '<$MTConfigFile$>');
	$db =& $mt->db;
	$config = $db->fetch_plugin_config('Privacy');
	if($_REQUEST['rand'] == $config['rand'])  {
		setcookie($_REQUEST['datasource'].$_REQUEST['id'], 1, 0, '/');
	}
	
	$config['rand'] = md5(time().mt_rand());	
	
	require_once("MTSerialize.php");
    $serializer = new MTSerialize();
	$data = $db->escape($serializer->serialize($config));	
	
	$db->query("update mt_plugindata set plugindata_data = '$data' where plugindata_plugin = 'Privacy' and plugindata_key = 'configuration'");
	header('Location: '. $_REQUEST['redirect']);
?>