<script type="text/javascript">
<!--
/*This snippet of code allows us to toggle the login forms*/

function toggle(n) {
	var d = document.getElementById(n);
	if(!d) return;
	
	if(d.style.display == 'none')
		d.style.display = 'block';
	else
		d.style.display = 'none';
}

//-->
</script>

<p><MT_TRANS phrase="This is a private"> <MTPrivateObjectType>. <MT_TRANS phrase="To view it, please follow the steps below">.</p>

<MTPrivacyTypes>
	<p><a href="javascript:void(0);" onclick="toggle('<MTPrivacyTypeName>-<MTPrivateObjectID>');"><img src="<MTStaticWebPath>plugins/Privacy/images/button-<MTPrivacyTypeName>.gif" alt="Login using <MTPrivacyTypeName>" /></a></p>
		
	<div id="<MTPrivacyTypeName>-<MTPrivateObjectID>" style="display:none;">
		<form action="<MTCGIPath>plugins/Privacy/signon.cgi" method="post" id="protect-<MTPrivateObjectID>">
		<input type="hidden" name="__mode" value="signon" />
		<input type="hidden" name="blog_id" value="<MTBlogID>" />
		<input type="hidden" name="id" value="<MTPrivateObjectID>" />
		<input type="hidden" name="datasource" value="<MTPrivateObjectType>" />
		<input type="hidden" name="auth" value="<MTPrivacyTypeName>" />
				
		<MTPrivacyTypeFields>
			<p><label for="<MTPrivacyTypeFieldName>"><MTPrivacyTypeFieldName>:</label> <input type="<MTPrivacyTypeFieldType>" name="<MTPrivacyTypeFieldName>" value="" /></p>
		</MTPrivacyTypeFields>	
	
		<p><input type="submit" name="submit" value="Login" /></p>
		</form>
	</div>
</MTPrivacyTypes>

</form>